
header{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    
}
.header1{
    display: flex;
}
.header1 .image1{
    width: 55px;
    height: 66px;
    margin-right: 20px;
    padding-left:140px;
    margin-top: 20px;
}
.header1 .header-head{
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 36px;
    padding-top: 0px;
}
.header1 .header-head .header-style{
    color: #FF5400;
}
header .header-menu ol {
    display: flex;
}
.header-menu .header-list li{
    list-style: none;
    margin-left: 10px;
    margin-right: 44px;
    margin-top: 20px;
    color: #424247;
    font-family:'Mulish', sans-serif ;
    font-size: 18px;
    font-weight: 500;
    padding-right: 60px;
}
.header-menu .header-list .list-style{
    color: #FF5400;
    font-weight: 800;
}
/* Hedear part finish */


.main-section{
    background-image: url(Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    width: 1170px;
    height: 600px;
    border-radius: 15px;
    margin: auto;
    color:#FFF;
    font-family:'Mulish', sans-serif ;
    text-align: center;
}
.main-section .main-section-text{
    padding-top: 100px;

    
}
.main-section .main-section-text .main-part{
    font-family:'Mulish', sans-serif ;
}
.main-section .main-section-text .main-part .main-part-heading{
    font-size: 64px;
    font-weight: 800;
}
.main-section .main-section-text .main-part .main-part-para{
    font-size: 16px;
    font-weight: 600;
    padding-top: 0%;
}
.main-section .main-part-btn{
    display: inline-flex;
    padding: 16px;
    gap: 24px;
    background: rgba(255, 255, 255, 0.366);
    border-radius: 10px;
}
.main-section .main-part-btn button{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border-style: none;
    color: rgba(19, 19, 24, 0.50);
    font-family:'Mulish', sans-serif ;

}
.main-part-btn .main-part-btn-color button{
    background: #FF5400;
    color: #FFF;
}
.main-part-btn .main-part-btn-color img{
    width: 25x;
    height: 23px;
}

/*main part fisrt one done*/

.main-section-2{
    display: flex;
    width: 1170px;
    height: 800px;
    margin: auto;
    font-family:'Mulish', sans-serif ;
}
.main-section-2-para{
    width: 1440px;
    height: 6940px;
}
.main-section-2-para .main-section-2-head{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.main-section-2-para .main-section-2-text{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.main-section-2-para .main-section-2-btn button{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;

    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-style: none;
}

/*main part 2nd one is done*/
.main-section-3{
    width: 1170px;
    height: 1700px;
    margin: auto;
    font-family:'Mulish', sans-serif;
    text-align: center;
}

.main-section-3 .main-section-3para .main-section-3para1{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.main-section-3 .main-section-3para .main-section-3para2{
    ccolor: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.main-section-3 .main-section-3para{
    border: 2px solid black;

}

.main-section-3 .main-section-3-main-part .main-section-3img{
    line-height: 250px;

}


.main-section-3img .row1 .main-section-3img-part1{
    background-image: url(Rectangle\ 5.png);
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
}
.main-section-3img .row1 .main-section-3img-part2{
    background-image: url(Rectangle\ 8.png);
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
}
.main-section-3img .row1 .main-section-3img-part3{
    background-image: url(Rectangle\ 6.png);
    background-repeat: no-repeat;
    width: 374px;
height: 286px;
}
.main-section-3img .row1 .main-section-3img-part4{
    background-image: url(Rectangle\ 7.png);
    background-repeat: no-repeat;
    width: 474px;
height: 286px;
}
.main-section-3img .row1 .main-section-3img-part5{
    background-image: url(Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 274px;
    height: 286px;

}
.main-section-3img .row1 .main-section-3img-part6{
    background-image: url(Rectangle\ 11.png);
    background-repeat: no-repeat;
    width: 473px;
    height: 300px;

}
.main-section-3img .row1 .main-section-3img-part7{
    background-image: url(Rectangle\ 10.png);
    background-repeat: no-repeat;
    width: 673px;
    height: 300px;

}

.main-section-3img .row1 {
    display: flex;
    gap: 20px;
    color: #FFF;

text-align: center;
font-size: 28px;
font-style: normal;
font-weight: 800;
font-family:'Mulish', sans-serif ;
padding-top: 100px;

}
/* Main Part 3rd one is done */

.main-section-4{
    width: 1170px;
    height: 1200px;
    margin: auto;
    font-family:'Mulish', sans-serif;
}

.main-section-4 .main-section-4-main-box .box{
    width: 573px;
    height: 284px;
    padding: 20px;
}
.main-section-4 .main-section-4-main-box .box img{
    width: 64px;
    height: 64px;
}
.main-section-4 .main-section-4-main-box .main-section-4-main-box-1{
    display: flex;
    gap: 34px;
    padding-top: 50px;
}
.main-section-4 .main-section-4-main-box .main-section-4-main-box-2{
    padding-left: 320px;
    padding-top: 70px;
}
.main-section-4 .main-section-4-main .main-section-4-main-para{
    text-align: center;
}
.main-section-4 .main-section-4-main-para .main-section-4-main-para1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.main-section-4 .main-section-4-main-para .main-section-4-main-para2{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.main-section-4 .main-section-4-main .main-section-4-main-box .main-section-4-main-box-1 .box-4-1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 10px;
}
.main-section-4 .main-section-4-main .main-section-4-main-box .main-section-4-main-box-1 .box-4-2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 10px;
}

.main-section-4 .main-section-4-main .main-section-4-main-box .main-section-4-main-box-2 .box-4-3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 15px;
}

.main-section-4 .main-section-4-main .main-section-4-main-box h1{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.main-section-4 .main-section-4-main .main-section-4-main-box p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}

/* main part 4 end */

.main-part-5{
    width: 1170px;
    height: 1800px;
    margin: auto;
    font-family:'Mulish', sans-serif;
    text-align: center;
    margin-top: 0%;

}
.main-part-5 .main-part-5-main .main-part-5-para .main-part-5-para-box img{
    width: 16px;
    height: 16px;
}

.main-part-5 .main-part-5-main .main-part-5-para .main-part-5-para-box .image-para{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.main-part-5 .main-part-5-main .main-part-5-para .main-part-5-para-box{
    width: 479px;
    height: 289px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.705);
    padding: 50px;
}
.main-part-5 .main-part-5-main .main-part-5-para .main-part-5-para1{
    background-image: url(Group\ 39.png);
    width: 1170px;
    height: 500px;
    border-radius: 16px;
}
.main-part-5 .main-part-5-main .main-part-5-para .main-part-5-para1 .main-part-5-para-box{
    position: relative;
    top: 50px;
    left: 550px;
    
}
.main-part-5 .main-part-5-main .main-part-5-para .main-part-5-para1 .main-part-5-para-box .main-part-5-para-box-head{
    color: #131318;
    font-size: 24px;
    font-weight: 800;

}
.main-part-5 .main-part-5-main .main-part-5-para .main-part-5-para1 .main-part-5-para-box .main-part-5-para-box-para{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.main-part-5 .main-part-5-main .main-part-5-para .main-part-5-para1 .main-part-5-para-box .main-part-5-para-box-price{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;

}
.main-part-5 .main-part-5-main .main-part-5-para .main-part-5-para1 .main-part-5-para-box .main-part-5-para-box-box{
    width: 150px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;

    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-style: none;
}
.main-part-5 .main-part-5-main .main-part-5-para .main-part-5-para2{
    background-image: url(Group\ 40.png);
     width: 1170px;
    height: 500px;
    
}
.main-part-5 .main-part-5-main .main-part-5-para .main-part-5-para2 .main-part-5-para-box .main-part-5-para-box-box{
    width: 150px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;

    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-style: none;
}
.main-part-5 .main-part-5-main .main-part-5-para .main-part-5-para2 .main-part-5-para-box .main-part-5-para-box-price{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;

}
.main-part-5 .main-part-5-main .main-part-5-para .main-part-5-para2 .main-part-5-para-box .main-part-5-para-box-para{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.main-part-5 .main-part-5-main .main-part-5-para .main-part-5-para2 .main-part-5-para-box .main-part-5-para-box-head{
    color: #131318;
    font-size: 24px;
    font-weight: 800;

}
.main-part-5 .main-part-5-main .main-part-5-para .main-part-5-para2 .main-part-5-para-box{
    position: relative;
    top: 50px;
    left: 50px;
    
}
.main-part-5-main .main-part-5-main-footer{
    width: 210px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-style: none;
    margin-top: 20px;
}

/*main part 5 done*/

.main-section-6{
    width: 1170px;
    height: 1200px;
    margin: auto;
    font-family:'Mulish', sans-serif;
}
.main-section-6 .main-section-6-body .main-section-6-body-part2{
    background-image: url(Group\ 40089.png);
    width: 710px;
    height: 424px;
    background-repeat: no-repeat;
    border-radius: 16px;
}
.main-section-6 .main-section-6-body .main-section-6-body-part2 .main-section-6-body-part2-text{
    width: 710px;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    padding-top: 100px;
}
.main-section-6 .main-section-6-body{
    display: flex;
}
.main-section-6 .main-section-6-body .main-section-6-para h2{
    color: #131318;
    width: 448px;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}
.main-section-6 .main-section-6-body .main-section-6-para p{
    color: #5A5A5D;
    width: 532px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px
}
.main-section-6 .main-section-6-body .main-section-6-body-list .main-section-6-body-list-item li{
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    width: 518px;
}
.main-section-6 .main-section-6-body .main-section-6-body-btn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-style: none;
}

/* main part 6 done